@charset "UTF-8";

@font-face {
    font-family: 'Proxima-NovaSansBlack';
    src: url('proximanovasansblack.eot');
    src: url('proximanovasansblack.eot?#iefix') format('embedded-opentype'),
         url('proximanovasansblack.woff') format('woff'),
         url('proximanovasansblack.ttf') format('truetype'),
         url('proximanovasansblack.svg#Proxima-NovaSansBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothicDemi';
    src: url('FranklinGothicDemi.eot');
    src: url('FranklinGothicDemi.eot?#iefix') format('embedded-opentype'),
         url('FranklinGothicDemi.woff') format('woff'),
         url('FranklinGothicDemi.ttf') format('truetype'),
         url('FranklinGothicDemi.svg#FranklinGothicDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('bebas.eot');
    src: url('bebas.eot?#iefix') format('embedded-opentype'),
         url('bebas.woff') format('woff'),
         url('bebas.ttf') format('truetype'),
         url('bebas.svg#bebas') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('ProximaNovaRegular.eot');
    src: url('ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaRegular.woff') format('woff'),
         url('ProximaNovaRegular.ttf') format('truetype'),
         url('ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
